#grid-container{
    display: grid;
    grid-template-columns: 5% 30% 5% 1fr 5%;
    grid-template-rows: 100px 100px 350px 50px 270px 1fr 50px;
}

#contact-info-box{
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    background-color: #cc2936;
    z-index: 10;
}

#contact-info-box h4{
    color: #fff;
    font-size: 40px;
    font-weight: 400;
    margin-left: 10%;
}

#service-box h4{
    color: #fff;
    font-size: 40px;
    font-weight: 400;
    margin-left: 10%;
}

#service-box{
    grid-column: 2 / 4;
    grid-row: 5 / 5;
    background-color: #cc2936;
    z-index: 10;
}

.dropdown{
    margin-left: 10%;
    width: 90%;
}

.dropdown-button {
    background-color: #fff;
    color: #191919;
    padding: 12px;
    font-size: 20px;
    font-weight: 400;
    border: none;
    cursor: pointer;
    width: 75%;
    text-align: left;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    max-width: 500px;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 400px;
}

.dropdown-content button {
    color: #191919; 
    padding: 12px 12px;
    font-size: 20px;
    font-weight: 300;
    display: block;
    border: none;
    background-color: #fff;
    width: 100%;
    text-align: left;
}

.dropdown button:hover {
    background-color: #1B1C22;
    color: #fff;
    cursor: pointer;
}

.show{
    display: block;
}

#timeslots-box{
    grid-column: 3 / 5;
    grid-row: 3 / 7;
    background-color: #1B1C22;
    padding-top: 50px;
    padding-left: 13%;
    padding-right: 30px;
    padding-bottom: 50px;
}

.date-row{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.date-text{
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.date-text p{
    margin: 0;
}

.date-times{
    margin-left: 20px;
    margin-right: 20px;
    max-width: 900px;
}

.date-times button{
    font-weight: 400;
    font-size: 20px;
    background: #cc2936;
    color: #fff;
    transition: 0.1s;
    text-decoration: none;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 2px;
    width: 80px;
}

.date-times button:hover{
    background: #ffe20a;
    color: #191919;
    cursor: pointer;
}

.reserved{
    background: #191919!important;
    pointer-events: none;
}

.selected-time{
    background: #ffe20a!important;
    color: #191919!important;
}

#submit-reservation-button{
   background-color: #cc2936;
   border: none;
   color: #fff;
   font-size: 24px;
   font-weight: 400;
   padding: 10px 20px;
   width: 100%;
   cursor: pointer;
}

#submit-reservation-button:hover{
    background: #ffe20a;
    color: #191919;
}

@media screen and (max-width: 1200px){
    #grid-container{
        grid-template-columns: 100%;
        grid-template-rows: 100px 450px 50px 270px 50px 1fr 50px;
    }
    
    #contact-info-box{
        grid-column: 1 / 1;
        grid-row: 2 / 2;
    }
    
    #service-box{
        grid-column: 1 / 1;
        grid-row: 4 / 4;
    }
    
    .dropdown-content {
        width: 60%;
    }
    
    #timeslots-box{
        grid-column: 1 / 1;
        grid-row: 6 / 6;
        padding-left: 5%;
        padding-right: 5%;
    }
    
    .date-times button{
        font-size: 18px;
        width: 60px;
    }
}