#grid-container{
    display: grid;
    grid-template-columns: 5% 50px 300px 1fr 10% 50px 300px 1fr 8%;
    grid-template-rows: 100px 40px 40px 500px 100px 1fr;
}

#personal-title-box{
    grid-column: 2 / 4;
    grid-row: 2 / 4;
}

#cargo-title-box{
    grid-column: 6 / 8;
    grid-row: 2 / 4;
}

.title-box{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: #1b1c22;
    color: #fff;
    font-weight: 400;
    font-size: 32px;
    z-index: 10;
}

#personal-text-box{
    grid-column: 3 / 5;
    grid-row: 3 / 6;
}

#cargo-text-box{
    grid-column: 7 / 9;
    grid-row: 3 / 6;
}

.text-box{
    background-color: #cc2936;
    color: #fff;
    font-weight: 300;
    font-size: 28px;
    padding: 30px;
    z-index: 5;
}

.text-box li{
    padding: 10px;
}

#prices{
    grid-column: 1 / 10;
    grid-row: 5 / 7;
    background-color: #1b1c22;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

#prices h2{
    color: #fff;
    font-size: 64px;
    font-weight: 300;
    margin-top: 200px
}

table{
    border-collapse: collapse;
    width: 60%;
    margin-bottom: 50px;
    background-color: #fff;
    font-size: 18px;
}

table th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #cc2936;
    color: white;
    text-align: center;
}

table td, table th{
    padding: 8px;
    font-weight: 300;
}

table tr:nth-child(odd){background-color: #EEEEEE;}

@media screen and (max-width: 1200px){
    #grid-container{
        grid-template-columns: 100%;
        grid-template-rows: 100px 50px 550px 50px 50px 550px 50px 1fr;
    }
    
    #personal-title-box{
        grid-column: 1 / 1;
        grid-row: 2 / 2;
    }
    
    #cargo-title-box{
        grid-column: 1 / 1;
        grid-row: 5 / 5;
    }
    
    #personal-text-box{
        grid-column: 1 / 1;
        grid-row: 3 / 3;
    }
    
    #cargo-text-box{
        grid-column: 1 / 1;
        grid-row: 6 / 6;
    }
    
    .text-box{
        font-size: 24px;
        padding: 10px;
    }
    
    .text-box li{
        padding: 10px;
    }
    
    #prices{
        grid-column: 1 / 1;
        grid-row: 8 / 8;
    }
    
    #prices h2{
        margin-top: 50px;
    }
    
    table{
        width: 90%;
        font-size: 12px;
    }
}